@model KoK_Source.Models.Products.ProductsModel

@using (Html.BeginForm("SaveData", "Products", FormMethod.Post, new { @id = "myFormEdit", @enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    <div class="form-group row">
        @Html.HiddenFor(m => m.NEWS_ID)
        <div class="col-md-10">
            <header class="widget__header">
                <div class="widget__title">
                    <i class="pe-7s-menu"></i>
                    <h3>BÀI VIẾT</h3>
                </div>
            </header>
            <article class="widget widget__form">
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">@Html.DisplayNameFor(m => m.NEWS_TITLE) </label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.NEWS_TITLE, Model.NEWS_TITLE, new { @class = "col-xs-12 col-sm-12", @placeholder = "Tiêu đề" })
                    </div>

                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">@Html.DisplayNameFor(m => m.NEWS_DESC) </label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.NEWS_DESC, Model.NEWS_DESC, new { @class = "col-xs-12 col-sm-12", @placeholder = "Mô tả" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">@Html.DisplayNameFor(m => m.ACTIVE) </label>
                    <div class="col-sm-10">
                        @Html.CheckBoxFor(m => m.ACTIVE, new { @class = "checkbox-inline" })
                    </div>
                </div>
                <hr />
                <header class="widget__header">
                    <div class="widget__title">
                        <i class="pe-7s-menu"></i>
                        <h3>PARAMETER SEO</h3>
                    </div>
                </header>

                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">@Html.DisplayNameFor(m => m.NEWS_SEO_URL) </label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.NEWS_SEO_URL, Model.NEWS_SEO_URL, new { @class = "col-xs-12 col-sm-12" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">@Html.DisplayNameFor(m => m.NEWS_SEO_TITLE) </label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.NEWS_SEO_TITLE, Model.NEWS_SEO_TITLE, new { @class = "col-xs-12 col-sm-12" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">@Html.DisplayNameFor(m => m.NEWS_SEO_DESC) </label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.NEWS_SEO_DESC, Model.NEWS_SEO_DESC, new { @class = "col-xs-12 col-sm-12" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">@Html.DisplayNameFor(m => m.NEWS_SEO_KEYWORD) </label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.NEWS_SEO_KEYWORD, Model.NEWS_SEO_KEYWORD, new { @class = "col-xs-12 col-sm-12" })
                    </div>
                </div>
                <div class="form-group">
                    @*<textarea name="post_dt" id="post_dt">@Model.POST_HTML</textarea>*@
                    @Html.TextAreaFor(m => m.POST_HTML, Model.POST_HTML)
                </div>

                <div class="btn-group pull-right">
                    <button class="btn btn-sm btn-purple">
                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                        Save
                    </button>

                </div>
            </article>
        </div>
    </div>
}
<script>
// Replace the <textarea id="editor1"> with a CKEditor
// instance, using default configuration.
    CKEDITOR.replace('POST_HTML', {
        language: 'vi',
        height: 500,
    });
    //change text URL
    var timerid;
    $("#NEWS_TITLE").on("input", function (e) {
        var value = $(this).val();
        if ($(this).data("lastval") != value) {
            $(this).data("lastval", value);
            clearTimeout(timerid);
            timerid = setTimeout(function () {
                //var str = remove_unicode(value);
                //change action
                $('#NEWS_URL').val(remove_unicode(value));
                $('#NEWS_SEO_TITLE').val(remove_unicode(value));
                $('#NEWS_SEO_URL').val(remove_unicode(value));
                //alert(value);

            }, 500);

        };
    });
    $("#NEWS_DESC").on("input", function (e) {
        var value = $(this).val();
        if ($(this).data("lastval") != value) {
            $(this).data("lastval", value);
            clearTimeout(timerid);
            timerid = setTimeout(function () {
                //var str = remove_unicode(value);
                //change action
                $('#NEWS_SEO_DESC').val(remove_unicode(value));
                //alert(value);

            }, 500);

        };
    });
</script>