@model KoK_Source.Models.Products.ProductsModel
@using KoK_Source.Models.File;
@{ 
    ViewBag.Title = "Chi tiết sản phẩm";
    List<FileModel> fileNameList;
    if (!String.IsNullOrEmpty(Model.LIST_ANH))
    {
        /*convert FILI_LINK là json thành list file name*/
        fileNameList = new System.Web.Script.Serialization.JavaScriptSerializer().Deserialize<List<FileModel>>(Model.LIST_ANH);
    }
    else
    {
        fileNameList = null;
    }
}
@using (Html.BeginForm("SaveData", "Products", FormMethod.Post, new { @id = "myFormEdit", @enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    <div class="form-group row">
        @Html.HiddenFor(m => m.NEWS_ID)
        <div class="col-md-10">
            <header class="widget__header">
                <div class="widget__title">
                    <i class="pe-7s-menu"></i>
                    <h3>@ViewBag.Title</h3>
                </div>
            </header>
            <article class="widget widget__form">
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">@Html.DisplayNameFor(m => m.NEWS_TITLE) </label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.NEWS_TITLE, Model.NEWS_TITLE, new { @class = "col-xs-12 col-sm-12", @placeholder = "Tiêu đề" })
                    </div>

                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">@Html.DisplayNameFor(m => m.NEWS_DESC) </label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.NEWS_DESC, Model.NEWS_DESC, new { @class = "col-xs-12 col-sm-12", @placeholder = "Mô tả" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">@Html.DisplayNameFor(m => m.ANH) </label>
                    @Html.HiddenFor(m=>m.ANH)
                    <div class="col-sm-10">
                        <input type="file" id="file-att" name="file-att" onchange="readURL(this);">
                        @if (!string.IsNullOrEmpty(Model.ANH))
                        {
                            <img id="img-rev" width="100" height="100" src="@Url.Content(Model.ANH)" alt="your image" />
                        }
                        else
                        {
                            <img id="img-rev" width="100" height="100" src="#" style="display:none" alt="your image" />
                        }

                        @*@Html.TextBoxFor(m => m.ANH, Model.ANH, new { @class = "col-xs-12 col-sm-12", @placeholder = "Mô tả" })*@
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">@Html.DisplayNameFor(m => m.LIST_ANH) </label>
                    @Html.HiddenFor(m => m.LIST_ANH)
                    <div class="col-sm-10">
                        <input type="file" id="file-att-list" name="file-att-list" multiple >
                        @if (fileNameList != null)
                        {
                            foreach (var item in fileNameList)
                            {
                                <img id="img-rev-list" width="100" height="100" src="@Url.Content(item.url)" alt="@item.name" />
                            }
                        }

                        @*@Html.TextBoxFor(m => m.ANH, Model.ANH, new { @class = "col-xs-12 col-sm-12", @placeholder = "Mô tả" })*@
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">@Html.DisplayNameFor(m => m.ACTIVE) </label>
                    <div class="col-sm-10">
                        @Html.CheckBoxFor(m => m.ACTIVE, new { @class = "checkbox-inline" })
                    </div>
                </div>
                <hr />
                <header class="widget__header">
                    <div class="widget__title">
                        <i class="pe-7s-menu"></i>
                        <h3>Từ khóa SEO</h3>
                    </div>
                </header>

                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">@Html.DisplayNameFor(m => m.NEWS_SEO_URL) </label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.NEWS_SEO_URL, Model.NEWS_SEO_URL, new { @class = "col-xs-12 col-sm-12" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">@Html.DisplayNameFor(m => m.NEWS_SEO_TITLE) </label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.NEWS_SEO_TITLE, Model.NEWS_SEO_TITLE, new { @class = "col-xs-12 col-sm-12" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">@Html.DisplayNameFor(m => m.NEWS_SEO_DESC) </label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.NEWS_SEO_DESC, Model.NEWS_SEO_DESC, new { @class = "col-xs-12 col-sm-12" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">@Html.DisplayNameFor(m => m.NEWS_SEO_KEYWORD) </label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.NEWS_SEO_KEYWORD, Model.NEWS_SEO_KEYWORD, new { @class = "col-xs-12 col-sm-12" })
                    </div>
                </div>
                <div class="form-group">
                    @*<textarea name="post_dt" id="post_dt">@Model.POST_HTML</textarea>*@
                    @Html.TextAreaFor(m => m.POST_HTML, Model.POST_HTML)
                </div>

                <div class="btn-group pull-right">
                    <button class="btn btn-sm btn-purple">
                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                        Save
                    </button>

                </div>
            </article>
        </div>
    </div>
}
<script>
// Replace the <textarea id="editor1"> with a CKEditor
// instance, using default configuration.
    CKEDITOR.replace('POST_HTML', {
        language: 'vi',
        height: 500,
    });
    //change text URL
    var timerid;
    $("#NEWS_TITLE").on("input", function (e) {
        var value = $(this).val();
        if ($(this).data("lastval") != value) {
            $(this).data("lastval", value);
            clearTimeout(timerid);
            timerid = setTimeout(function () {
                //var str = remove_unicode(value);
                //change action
                $('#NEWS_URL').val(remove_unicode(value));
                $('#NEWS_SEO_TITLE').val(remove_unicode(value));
                $('#NEWS_SEO_URL').val(remove_unicode(value));
                //alert(value);

            }, 500);

        };
    });
    $("#NEWS_DESC").on("input", function (e) {
        var value = $(this).val();
        if ($(this).data("lastval") != value) {
            $(this).data("lastval", value);
            clearTimeout(timerid);
            timerid = setTimeout(function () {
                //var str = remove_unicode(value);
                //change action
                $('#NEWS_SEO_DESC').val(remove_unicode(value));
                //alert(value);

            }, 500);

        };
    });
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#img-rev')
                  .attr('src', e.target.result)
                  .width(100)
                  .height(100).show();
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>