@model List<KoK_Source.Areas.banhtrangtrunghieu.Models.NewsModel>
@using KoK_Source.Common
@using KoK_Source.Areas.banhtrangtrunghieu.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    CommonCnv _com = new CommonCnv();
}

<div class="container">
    <div class="brc">
        <ul class="breadcrumb">
            <li><a href="#">Trang Chủ</a> <span class="divider"></span></li>
            <li class="active">Tin tức </li>
        </ul>
    </div>
    <section class="contents">
        <div class="contents_left">
            <div class="list-group">
                @foreach (var item in Model)
                {
                    <a href="@Url.Action("Post","DetailPost", new { id_menu = string.Empty, id_post = item.NEWS_ID})" class="list-group-item">
                        <div class="media col-md-3">
                            <figure class="pull-left">
                                @if (!string.IsNullOrEmpty(item.ANH))
                                {
                                    List<FileModel> fileAvatar = new System.Web.Script.Serialization.JavaScriptSerializer().Deserialize<List<FileModel>>(item.ANH);
                                    if (fileAvatar != null)
                                    {
                                        <img class="media-object img-rounded img-responsive" src="@Url.Content(fileAvatar.First().url)" alt="@fileAvatar.First().name">
                                    }
                                }
                                
                            </figure>
                        </div>
                        <div class="col-md-9">
                            <h4 class="list-group-item-heading"> @item.NEWS_TITLE </h4>
                            <p class="list-group-item-text">
                                @_com.getMota(item.NEWS_DESC,200).ToString()
                            </p><br>
                            <button type="button" class="btn btn-danger btn-seemore btn-block"> Xem thêm </button>
                        </div>
                    </a>
                }
                
                
                <center class="page-nation">
                    <ul class="pagination pagination-large">
                        <li class="disabled"><span>«</span></li>
                        <li class="active"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">7</a></li>
                        <li><a href="#">8</a></li>
                        <li><a href="#">9</a></li>
                        <li class="disabled"><span>...</span></li>
                        <li>
                        <li><a rel="next" href="#">Next</a></li>

                    </ul>
                </center>
            </div>
        </div>
        <div class="contents_right">
            <div class="title-news">
                <h3><a href="">Sản Phẩm HOT</a></h3>
                <span><a href="">Xem thêm</a></span>
            </div>
            <ul>
                <li>
                    <a href="">
                        <div class="tit-news">Bánh Tráng loại 1.</div>
                        <div class="img-news"><img class="hvr-grow" src="img/img.jpg" alt="" /></div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="tit-news">Bánh Tráng loại 1</div>
                        <div class="img-news"><img class="hvr-grow" src="img/img.jpg" alt="" /></div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="tit-news">Bánh Tráng loại 1</div>
                        <div class="img-news"><img class="hvr-grow" src="img/img.jpg" alt="" /></div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="tit-news">Bánh Tráng loại 1</div>
                        <div class="img-news"><img class="hvr-grow" src="img/img.jpg" alt="" /></div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="tit-news">Bánh Tráng loại 1</div>
                        <div class="img-news"><img class="hvr-grow" src="img/img.jpg" alt="" /></div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="tit-news">Bánh Tráng loại 1</div>
                        <div class="img-news"><img class="hvr-grow" src="img/img.jpg" alt="" /></div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="tit-news">Bánh Tráng loại 1</div>
                        <div class="img-news"><img src="img/img.jpg" alt="" /></div>
                    </a>
                </li>
            </ul>
        </div>

    </section>

</div>	

