@model List<KoK_Source.Models.ProductsModel>
@using KoK_Source.Models
@using KoK_Source.Common
@{ 
    CommonCnv _com = new CommonCnv();
}
<ul>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            @*@Url.Action("DetailProducts", "Products", new { id_menu = string.Empty, id_products = item.NEWS_ID })*@
            <li>
                <div class="hovereffect">
                    <div class="sp-img">
                        <a href="@Url.Action(item.NEWS_SEO_URL+"-"+item.NEWS_ID,"san-pham")">
                            @{
                                List<FileModel> fileAvatar;
                                if (!String.IsNullOrEmpty(item.ANH))
                                {
                                    /*convert FILI_LINK là json thành list file name*/
                                    fileAvatar = new System.Web.Script.Serialization.JavaScriptSerializer().Deserialize<List<FileModel>>(item.ANH);
                                    if (fileAvatar != null)
                                    {
                                        <img class="hvr-grow" src="@Url.Content(fileAvatar.First().url)" alt="" />
                                    }
                                }
                                else
                                {
                                    fileAvatar = null;
                                    <img class="hvr-grow" src="@Url.Content("~/Content/_Template/img/img.jpg")" alt="" />
                                }
                            }
                        </a>
                    </div>
                    <h5 class="sp-name"><a href="@Url.Action(item.NEWS_SEO_URL+"-"+item.NEWS_ID,"san-pham")">@item.NEWS_TITLE</a></h5>
                    <div class="sp-price">$Giá: <span>@string.Format("{0:#0,0}", Convert.ToDecimal(item.GIA)) vnđ</span></div>
                    <div class="sp-detail">Mô tả: @_com.getMota(item.NEWS_DESC, 200)</div>
                    <button class="sp-viewmore hvr-float-shadow" data-toggle="modal" data-target="#myModal">Mua ngay</button>
                    <!-- Modal -->
                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Số điện thoại</h4>
                                </div>
                                <div class="modal-body">
                                    <center>
                                        <a href="tel:0938118661"><button class="btn btn-info btn-lg">0938.118.661</button></a>
                                        <a href="tel:0938118661"><button class="btn btn-success btn-lg">0938.118.661</button></a>
                                    </center>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="overlay">
                        <a href="@Url.Action(item.NEWS_SEO_URL+"-"+item.NEWS_ID,"san-pham")">
                        <h2>@item.NEWS_TITLE</h2>
                        <div class="sp-price"><span> Giá: @string.Format("{0:#0,0}", Convert.ToDecimal(item.GIA)) vnđ</span></div>
                        <div class="sp-detail sp-details1">@_com.getMota(item.NEWS_DESC, 200)</div>
                        </a>
                        <center>
                            <a href="tel:0938118661"><button class="btn btn-info btn-lg">0938.118.661</button></a>
                            <a href="tel:0938118661"><button class="btn btn-success btn-lg">0938.118.661</button></a>
                        </center>
                    </div>
                    </div>
</li>
        }
    }
</ul>
<!-- Modal -->
<div id="myModal" class="modal fade" style="z-index:9999!important" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Số điện thoại</h4>
            </div>
            <div class="modal-body">
                <center>
                    <a href="tel:0938118661"><button class="btn btn-info btn-lg">0938.118.661</button></a>
                    <a href="tel:0938118661"><button class="btn btn-success btn-lg">0938.118.661</button></a>
                </center>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
</div>