@using KoK_Source.Common
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Theme</title>
    <link rel="icon" sizes="192x192" href="@Url.Content("~/Content/Template_/img/touch-icon.png")"/>
    <link rel="apple-touch-icon" href="@Url.Content("~/Content/Template_/img/touch-icon-iphone.png")"/>
    <link rel="apple-touch-icon" sizes="76x76" href="@Url.Content("~/Content/Template_/img/touch-icon-ipad.png")"/>
    <link rel="apple-touch-icon" sizes="120x120" href="@Url.Content("~/Content/Template_/img/touch-icon-iphone-retina.png")"/>
    <link rel="apple-touch-icon" sizes="152x152" href="@Url.Content("~/Content/Template_/img/touch-icon-ipad-retina.png")"/>
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Content/Template_/img/favicon.ico")"/>

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Template_/css/bootstrap.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Template_/css/main.min.css")">
    
    <!-- Pixeden Icon Fonts -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Template_/fonts/pe-icon-7-filled.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Template_/fonts/pe-icon-7-stroke.css")">

    <link rel="stylesheet" href="@Url.Content("~/Content/Template_/fonts/pe-icon-7-stroke.css")">
    <!-- Optional - Adds useful class to manipulate icon font display -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Template_/fonts/helper.css")">
    <script type="text/javascript" src="@Url.Content("~/Content/Plugin/Jquery/jquery-2.2.2.min.js")"></script>

    <script src="~/Content/Plugin/tables/datatables/datatables.min.js"></script>
    <script src="~/Content/Plugin/tables/datatables/extensions/responsive.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
<div id="loading">
    <div class="loader loader-light loader-large"></div>
</div>
<header class="top-bar">

    <ul class="profile">
        <li>
            <a href="#" class="btn-circle no-circle">
                <i class="pe-7f-back"></i>
            </a>
        </li>
        <li>
            <a href="#" onclick="return false;" class="btn-circle btn-sm">
                <i class="pe-7f-mail"></i>
                <span class="badge badge--blue">8</span>
            </a>
        </li>
        <li>
            <a href="#" onclick="return false;" class="btn-circle btn-sm">
                <i class="pe-7s-config"></i>
            </a>
        </li>
        <li>
            <a href="#" onclick="return false;" class="btn-circle btn-sm active">
                <i class="pe-7s-user"></i>
            </a>
        </li>
        <li class="mobile-nav">
            <a href="#" onclick="return false;" class="btn-circle btn-sm">
                <i class="pe-7f-menu"></i>
            </a>
        </li>
    </ul>
    <div class="main-search">
        <input type="text" placeholder="Search ..." id="msearch">
        <label for="msearch">
            <i class="pe-7s-search"></i>
        </label>
        <button>
            <i class="pe-7s-angle-right-circle"></i>
        </button>
    </div>

    <div class="main-brand">
        <div class="main-brand__container">
            <div class="main-logo"><img src="~/Content/Template_/img/logo.png">
            </div>
            <input type="checkbox" id="s-logo" class="sw"/>
            <label class="swtc swtc--dark swtc--header" for="s-logo"></label>
        </div>
    </div>

</header> <!-- /top-bar -->

<div class="wrapper">
    <aside class="sidebar">

        <div class="user-info">
            <figure class="rounded-image profile__img">
                <img class="media-object" src="~/Content/Template_/img/profile.jpg" alt="user">
            </figure>
            <h2 class="user-info__name">Marian Lewis</h2>
            <h3 class="user-info__role">Admin Manager</h3>
            <ul class="user-info__numbers">
                <li>
                    <i class="pe-7f-user"></i>
                    <p>26k+</p>
                    <p>+14</p>
                </li>
                <li>
                    <i class="pe-7f-paper-plane"></i>
                    <p>1095+</p>
                    <p>+56</p>
                </li>
                <li>
                    <i class="pe-7s-look"></i>
                    <p>428</p>
                    <p>+38</p>
                </li>
            </ul>
        </div> <!-- /user-info -->
        <ul class="main-nav">
            <li id="nav_home" class="main-nav--active">
                <a class="main-nav__link" href="@Url.Action("Index", "Home")">
                    <span class="main-nav__icon"><i class="pe-7f-home"></i></span>
                    Dashboard
                </a>
            </li>
            <li id="nav_banner">
                <a class="main-nav__link" href="@Url.Action("Index", "Banner")">
                    <span class="main-nav__icon"><i class="pe-7f-edit"></i></span>
                    Quản lý banner
                </a>
            </li>
            <li id="nav_menu">
                <a class="main-nav__link" href="@Url.Action("Index", "Menu")">
                    <span class="main-nav__icon"><i class="pe-7f-edit"></i></span>
                    Quản lý Menu
                </a>
            </li>
            <li class="main-nav--collapsible">
                <a class="main-nav__link" href="#" onclick="return false;">
                    <span class="main-nav__icon"><i class="pe-7f-monitor"></i></span>
                    Sample pages <span class="badge badge--line badge--blue">2</span>
                </a>
                <ul class="main-nav__submenu">
                    <li><a href="#"><span>Error 404</span></a></li>
                    <li><a href="#"><span>Login</span></a></li>
                </ul>
            </li>
            <li>
                <a class="main-nav__link" href="#">
                    <span class="main-nav__icon"><i class="pe-7f-browser"></i></span>
                    Grid Layout
                </a>
            </li>
            <li>
                <a class="main-nav__link" href="#">
                    <span class="main-nav__icon"><i class="pe-7f-note"></i></span>
                    Tables &amp; forms
                </a>
            </li>
            <li>
                <a class="main-nav__link" href="#">
                    <span class="main-nav__icon"><i class="pe-7f-graph3"></i></span>
                    Statistics
                </a>
            </li>
        </ul> <!-- /main-nav -->

    </aside> <!-- /sidebar -->

    <section class="content">
        @RenderBody()
    </section> <!-- /content -->
</div>


<script type="text/javascript" src="@Url.Content("~/Content/Template_/js/main.js")"></script>
@*<script type="text/javascript" src="@Url.Content("~/Content/Template_/js/amcharts/amcharts.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/Template_/js/amcharts/serial.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/Template_/js/amcharts/pie.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/Template_/js/chart.js")"></script>*@

@*        @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)*@
</body>
</html>
<script>
    //$(document).ready(function () {
    //    $("li").on("click", function () {
    //        console.log($(this));
    //        $("li").removeClass("main-nav--active");
    //        $(this).addClass("main-nav--active");
    //    });
    //});
    //function fncNavset(loc, menu) {

    //    $('.nav-list').removeClass('active');
    //    if (loc != "")
    //        $('.' + loc).addClass("active");
    //    if (menu != "") {
    //        //$('.' + menu).collapse("show");
    //        $('.' + menu).addClass("in");
    //    }
    //};
    $(document).ready(function() {
        var position = @nav_Menu.menu_position;
        $(".main-nav li").removeClass("main-nav--active");
        $('#' + position.id).addClass('main-nav--active');
    });
</script>
