@using KOKService
@{ 
    KOK_DATAEntities _kokDataEntity = new KOK_DATAEntities();
    var dt = _kokDataEntity.KOK_CATEGORIES.Where(m => m.ACTIVE == true).DefaultIfEmpty().ToList();
}
<nav class="navbar navbar-inverse nav-mgb-0 tr_pc">
    <div class="container">
        <div class="collapse navbar-collapse nav-rela" id="navbar-collapse-3">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="@Request.Url.GetLeftPart(UriPartial.Authority)"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                @foreach(var m1 in dt)
                {
                    string Controller = "Post";
                    if(m1.CAT_TYPE == 1)
                    {
                        Controller = "Product";
                    }
                    else
                    {
                        Controller = "Post";
                    }
                    if (m1.CAT_RANK == 1)
                    {
                    <li class="dropdown">
                        <a href="@Url.Action("Index", Controller, new { id = m1.CAT_ID})" class="dropdown-toggle" data-toggle="dropdown">@m1.CAT_NAME <b class="caret"></b></a>
                        @if (dt.Count(item => item.CAT_PARENT_ID == m1.CAT_ID && item.CAT_RANK == 2) > 0)
                        {
                            <ul class="dropdown-menu">
                                @foreach (var m2 in dt)
                                {
                                    if (m2.CAT_TYPE == 1)
                                    {
                                        Controller = "Product";
                                    }
                                    else
                                    {
                                        Controller = "Post";
                                    }
                                    if (m2.CAT_RANK == 2 && m2.CAT_PARENT_ID == m1.CAT_ID)
                                    {
                                    <li>
                                        <a href="@Url.Action("Index", Controller, new { id = m2.CAT_ID})">@m2.CAT_NAME</a>
                                         @if (dt.Count(item => item.CAT_PARENT_ID == m2.CAT_ID && item.CAT_RANK == 3) > 0)
                                         {
                                            <ul class="dropdown-menu">
                                                @foreach (var m3 in dt)
                                                {
                                                    if (m3.CAT_TYPE == 1)
                                                    {
                                                        Controller = "Product";
                                                    }
                                                    else
                                                    {
                                                        Controller = "Post";
                                                    }
                                                    if (m3.CAT_RANK == 3 && m3.CAT_PARENT_ID == m2.CAT_PARENT_ID)
                                                    {
                                                    <li>
                                                        <a href="@Url.Action("Index", Controller, new { id = m3.CAT_ID})">@m3.CAT_NAME</a>
                                                    </li>
                                                    }
                                                }
                                            </ul>
                                         }
                                    </li>
                                    }
                                }
                            </ul>
                        }
                    </li>
                    }
                }
                
                <li><a href="#">Liên Hệ</a></li>
                <li><a href="#">Giới Thiệu</a></li>
            </ul>
            <form action="" class="search-form">
                <div class="form-group has-feedback btn-search-abs{">
                    <label for="search" class="sr-only">Tìm kiếm</label>
                    <input type="text" class="form-control" name="search" id="search" placeholder="Tìm kiếm . . .">
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
            </form>
        </div>

    </div>

</nav>

