<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="content-language" content="vi" />
    <meta name="author" content="Thái Bá Phát">
    <meta name="description" content="@ViewBag.NEWS_SEO_DESC">
    <meta name="keywords" content="@ViewBag.NEWS_SEO_KEYWORD">
    <!--facebook-->
    <meta property="og:site_name" content="@Request.Url.GetLeftPart(UriPartial.Authority)" />
    <meta property="og:title" content="@ViewBag.NEWS_TITLE" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="@Request.Url.ToString()" />
    <meta property="og:image" content="@if (!string.IsNullOrEmpty(ViewBag.IMAGE)) { @Html.Raw(Url.Content(ViewBag.IMAGE))}" />
    <meta property="og:description" content="@ViewBag.NEWS_DESC" />
    <title>BÁNH TRÁNG @if (!string.IsNullOrEmpty(ViewBag.NEWS_TITLE)) { @Html.Raw(" - " + ViewBag.NEWS_TITLE);}</title>


<!-------jquery------->


<script src="@Url.Content("~/Content/_Template/js/jquery.min.js")"></script>


<script src="@Url.Content("~/Content/_Template/js/jquery-1.11.3.min.js")"></script>


<!-----scroll-mouse--->


<script src="@Url.Content("~/Content/_Template/js/scroll-m.js")"></script>


<!-- RESPONSIVE MENU -->


<link href="@Url.Content("~/Content/_Template/js/menu-responsive/jquery.mmenu.all.css")" rel="stylesheet" />


<script type="text/javascript" src="@Url.Content("~/Content/_Template/js/menu-responsive/jquery.mmenu.min.all.js")"></script>


<script type="text/javascript" src="@Url.Content("~/Content/_Template/js/menu-responsive/index-menu-rp.js")"></script>


<!----bootstrap------>


<link rel="stylesheet" href="@Url.Content("~/Content/_Template/css/bootstrap.css")" type="text/css" media="all" />


<script src="@Url.Content("~/Content/_Template/js/bootstrap.min.js")"></script>


<link href="@Url.Content("~/Content/_Template/fonts/roboto-light.css")" rel="stylesheet" />


<!---- animate ----->


<link rel="stylesheet" href="@Url.Content("~/Content/_Template/css/animate.css")" type="text/css" media="all" />


<script src="@Url.Content("~/Content/_Template/js/wow.min.js")"></script>


<script>
new WOW().init();
    </script>
    <!-- FONT AWESOME -->
    <link href="@Url.Content("~/Content/_Template/fonts/font-awesome.min.css")" rel="stylesheet" />
    <!-- HOVER -->
    <link href="@Url.Content("~/Content/_Template/css/demo-page.css")" rel="stylesheet" media="all">
    <link href="@Url.Content("~/Content/_Template/css/hover.css")" rel="stylesheet" media="all">
    <!-- style -->
    <link href="@Url.Content("~/Content/_Template/style.css")" rel="stylesheet" />
    <link rel="stylesheet" href="@Url.Content("~/Content/_Template/responsive.css")" type="text/css" />
    <script src="@Url.Content("~/Content/Plugin/Jquery/jquery-2.2.2.min.js")"></script>
    @*<script src="@Url.Content("~/Content/_Template/js/cloud-zoom.1.0.2.js")"></script>*@
    @*<script type="text/JavaScript" src="http://www.professorcloud.com/js/cloud-zoom.1.0.2.js"></script>*@
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.7&appId=1561573834114960";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    @*<div id="fb-root"></div>*@
</head>
<!---------/head--------------->
<body class="">


    <!---------header--------------->
    <header class="header">
        <div class="header_top container">
            <div class="header_top-logo"><a href="@Request.Url.GetLeftPart(UriPartial.Authority)"><img src="@Url.Content("~/Content/_Template/img/logo.png")" alt="BÁNH TRÁNG" width="100%" /></a></div>
            <div class="header_top-banner"><a href="@Request.Url.GetLeftPart(UriPartial.Authority)"><img src="@Url.Content("~/Content/_Template/img/banner.png")" alt="BANNER BÁNH TRÁNG" /></a></div>
        </div>
        <!--Menu-->
        @Html.Partial("~/Views/Shared/_menuPageTop.cshtml")

        <!---------menu responsive--------------->
        <div id="page" class="tr_mobile d_mneu_mobile">
            <div class="header1">
                <a href="#menu"></a>
            </div>
            <nav id="menu">
                <ul>
                    <li><a href="">Trang chủ</a></li>
                    <li>
                        <a href="">Bánh Tráng Xuất Khẩu</a>
                        <ul>
                            <li><a href="">Bánh 1</a></li>
                            <li><a href="">Bánh 2</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">Bánh Tráng Nội Địa</a>
                        <ul>
                            <li><a href="">Bánh 1</a></li>
                            <li><a href="">Bánh 2</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">Đặc sản Củ Chi</a>
                        <ul>
                            <li><a href="">Bánh 1</a></li>
                            <li><a href="">Bánh 2</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">Du lịch Củ Chi</a>
                        <ul>
                            <li><a href="">Bánh 1</a></li>
                            <li><a href="">Bánh 2</a></li>
                        </ul>
                    </li>
                    <li><a href="">Liên hệ</a></li>
                    <li><a href="">Giới thiệu</a></li>
                </ul>
                <div class="collapse nav navbar-nav nav-collapse slide-down slide-down-11" id="nav-collapse3">
                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Bánh tráng trộn, . . ." />
                        </div>
                        <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </form>
                </div>
            </nav>
        </div>
        @*<div class="header_bot container">
                <div class="header_bot-left">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">

                            <div class="item active">
                                <img src="@Url.Content("Content/_Template/img/slide.jpg">
                                <div class="carousel-caption">
                                    <h3>Headline</h3>
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. <a href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank" class="label label-danger">Bootstrap 3 - Carousel Collection</a></p>
                                </div>
                            </div><!-- End Item -->

                            <div class="item">
                                <img src="@Url.Content("Content/_Template/img/slide.jpg">
                                <div class="carousel-caption">
                                    <h3>Headline</h3>
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. <a href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank" class="label label-danger">Bootstrap 3 - Carousel Collection</a></p>
                                </div>
                            </div><!-- End Item -->

                            <div class="item">
                                <img src="@Url.Content("Content/_Template/img/slide.jpg">
                                <div class="carousel-caption">
                                    <h3>Headline</h3>
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. <a href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank" class="label label-danger">Bootstrap 3 - Carousel Collection</a></p>
                                </div>
                            </div><!-- End Item -->

                            <div class="item">
                                <img src="@Url.Content("Content/_Template/img/slide.jpg">
                                <div class="carousel-caption">
                                    <h3>Headline</h3>
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                                </div>
                            </div><!-- End Item -->

                        </div><!-- End Carousel Inner -->


                        <ul class="nav nav-pills nav-justified">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"><a href="#">About<small>Lorem ipsum dolor sit</small></a></li>
                            <li data-target="#myCarousel" data-slide-to="1"><a href="#">Projects<small>Lorem ipsum dolor sit</small></a></li>
                            <li data-target="#myCarousel" data-slide-to="2"><a href="#">Portfolio<small>Lorem ipsum dolor sit</small></a></li>
                            <li data-target="#myCarousel" data-slide-to="3"><a href="#">Services<small>Lorem ipsum dolor sit</small></a></li>
                        </ul>


                    </div><!-- End Carousel -->

                </div>

                <script src="@Url.Content("~/Content/_Template/js/jquery-2.1.1.js")"></script>
                <script src="@Url.Content("~/Content/_Template/js/bootstrap-3.1.1.js")"></script>
                <script>
                                        $(document).ready( function() {
                            $('#myCarousel').carousel({
                                interval:   3000
                            });

                                var clickEvent = false;
                                $('#myCarousel').on('click', '.nav a', function() {
                                        clickEvent = true;
                                        $('.nav li').removeClass('active');
                                        $(this).parent().addClass('active');
                                }).on('slid.bs.carousel', function(e) {
                                    if(!clickEvent) {
                                        var count = $('.nav').children().length -1;
                                        var current = $('.nav li.active');
                                        current.removeClass('active').next().addClass('active');
                                        var id = parseInt(current.data('slide-to'));
                                        if(count == id) {
                                            $('.nav li').first().addClass('active');
                                        }
                                    }
                                    clickEvent = false;
                                });
                        });
                </script>

                <div class="header_bot-right">
                    <a href=""><img src="@Url.Content("Content/_Template/img/banner1.jpg" alt="BÁNH TRÁNG" /></a>
                    <a href=""><img src="@Url.Content("Content/_Template/img/banner1.jpg" alt="BÁNH TRÁNG" /></a>
                </div>
            </div>*@
    </header>
    <div class="container">
        @RenderBody()
        @*<!---------ads_1--------------->
            <section class="ads_1">
                <div class="ads_1-left"><a href=""><img src="@Url.Content("Content/_Template/img/banner_ngang.jpg" alt="" /></a></div>
                <div class="ads_1-right"><a href=""><img src="@Url.Content("Content/_Template/img/banner_ngang.jpg" alt="" /></a></div>
            </section>
            <!---------ads_1--------------->
            <section class="contents">
                <div class="contents_left contents_lefts">
                    <ul>
                        <li>
                            <div class="sp-img"><a href=""><img class="hvr-grow" src="@Url.Content("Content/_Template/img/img.jpg" alt=""></a></div>
                            <h5 class="sp-name"><a href="">Bánh tráng Trung Hiếu</a></h5>
                            <div class="sp-price">Giá: <span>100.000 đ</span></div>
                            <div class="sp-detail">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
                            <button class="sp-viewmore hvr-float-shadow">Mua ngay</button>
                        </li>
                        <li>
                            <div class="sp-img"><a href=""><img class="hvr-grow" src="@Url.Content("Content/_Template/img/img.jpg" alt=""></a></div>
                            <h5 class="sp-name"><a href="">Bánh tráng Trung Hiếu</a></h5>
                            <div class="sp-price">Giá: <span>100.000 đ</span></div>
                            <div class="sp-detail">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
                            <button class="sp-viewmore hvr-float-shadow">Mua ngay</button>
                        </li>
                        <li>
                            <div class="sp-img"><a href=""><img class="hvr-grow" src="@Url.Content("Content/_Template/img/img.jpg" alt=""></a></div>
                            <h5 class="sp-name"><a href="">Bánh tráng Trung Hiếu</a></h5>
                            <div class="sp-price">Giá: <span>100.000 đ</span></div>
                            <div class="sp-detail">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
                            <button class="sp-viewmore hvr-float-shadow">Mua ngay</button>
                        </li>
                        <li>
                            <div class="sp-img"><a href=""><img class="hvr-grow" src="@Url.Content("Content/_Template/img/img.jpg" alt=""></a></div>
                            <h5 class="sp-name"><a href="">Bánh tráng Trung Hiếu</a></h5>
                            <div class="sp-price">Giá: <span>100.000 đ</span></div>
                            <div class="sp-detail">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
                            <button class="sp-viewmore hvr-float-shadow">Mua ngay</button>
                        </li>
                        <li>
                            <div class="sp-img"><a href=""><img class="hvr-grow" src="@Url.Content("Content/_Template/img/img.jpg" alt=""></a></div>
                            <h5 class="sp-name"><a href="">Bánh tráng Trung Hiếu</a></h5>
                            <div class="sp-price">Giá: <span>100.000 đ</span></div>
                            <div class="sp-detail">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
                            <button class="sp-viewmore hvr-float-shadow">Mua ngay</button>
                        </li>
                        <li>
                            <div class="sp-img"><a href=""><img class="hvr-grow" src="@Url.Content("Content/_Template/img/img.jpg" alt=""></a></div>
                            <h5 class="sp-name"><a href="">Bánh tráng Trung Hiếu</a></h5>
                            <div class="sp-price">Giá: <span>100.000 đ</span></div>
                            <div class="sp-detail">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
                            <button class="sp-viewmore hvr-float-shadow">Mua ngay</button>
                        </li>
                    </ul>
                </div>
                <div class="contents_right">
                    <div class="title-news">
                        <h3><a href="">TIN TỨC</a></h3>
                        <span><a href="">Xem thêm</a></span>
                    </div>
                    <ul>
                        <li>
                            <a href="">
                                <div class="tit-news">Du lịch sinh thái Củ Chi vào những ngày hè.</div>
                                <div class="img-news"><img class="hvr-grow" src="@Url.Content("Content/_Template/img/img.jpg" alt="" /></div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="tit-news">Du lịch sinh thái Củ Chi vào những ngày hè.</div>
                                <div class="img-news"><img class="hvr-grow" src="@Url.Content("Content/_Template/img/img.jpg" alt="" /></div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="tit-news">Du lịch sinh thái Củ Chi vào những ngày hè.</div>
                                <div class="img-news"><img class="hvr-grow" src="@Url.Content("Content/_Template/img/img.jpg" alt="" /></div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="tit-news">Du lịch sinh thái Củ Chi vào những ngày hè.</div>
                                <div class="img-news"><img class="hvr-grow" src="@Url.Content("Content/_Template/img/img.jpg" alt="" /></div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="tit-news">Du lịch sinh thái Củ Chi vào những ngày hè.</div>
                                <div class="img-news"><img class="hvr-grow" src="@Url.Content("Content/_Template/img/img.jpg" alt="" /></div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="tit-news">Du lịch sinh thái Củ Chi vào những ngày hè.</div>
                                <div class="img-news"><img class="hvr-grow" src="@Url.Content("Content/_Template/img/img.jpg" alt="" /></div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="tit-news">Du lịch sinh thái Củ Chi vào những ngày hè.</div>
                                <div class="img-news"><img src="@Url.Content("Content/_Template/img/img.jpg" alt="" /></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>*@

    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 footerleft ">
                    <div class="logofooter"> BÁNH TRÁNG TRUNG HIẾU</div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                    <p><i class="fa fa-map-pin"></i> 210, Aggarwal Tower, Rohini sec 9, New Delhi -        110085, INDIA</p>
                    <p><i class="fa fa-phone"></i> Phone (India) : +91 9999 878 398</p>
                    <p><i class="fa fa-envelope"></i> E-mail : info@webenlance.com</p>

                </div>
                <div class="col-md-3 col-sm-6 paddingtop-bottom ft-left-tr-mb">
                    <h6 class="heading7">LIÊN KẾT</h6>
                    <ul class="footer-ul">
                        <li><a href="#"> Career</a></li>
                        <li><a href="#"> Privacy Policy</a></li>
                        <li><a href="#"> Terms & Conditions</a></li>
                        <li><a href="#"> Client Gateway</a></li>
                        <li><a href="#"> Ranking</a></li>
                        <li><a href="#"> Case Studies</a></li>
                        <li><a href="#"> Frequently Ask Questions</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 paddingtop-bottom ft-left-tr-mb">
                    <div class="fb-page" data-href="https://www.facebook.com/raiinfodotcom" @*data-tabs="timeline"*@ data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                        <div class="fb-xfbml-parse-ignore">
                            <blockquote cite="https://www.facebook.com/raiinfodotcom"><a href="https://www.facebook.com/raiinfodotcom">Facebook</a></blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!---------footer--------------->
        <div class="copyright">
            <div class="container">
                <div class="col-md-6">
                    <p>© 2016 - All Rights ...</p>
                </div>
                <!--
                    <div class="col-md-6">
                      <p>© 2016 - All Rights with Webenlance</p>
                    </div>
                -->
            </div>
        </div>
    </footer>
    <!--footer start from here-->
    <div class="fbchatbox hidden-xs" style="position:fixed;right:5px;bottom:135px;z-index:9999">
        <div class="fb-page fbchat" data-href="https://www.facebook.com/raiinfodotcom" data-small-header="true" data-adapt-container-width="false" data-height="300" data-width="300" data-hide-cover="true" data-show-facepile="true" data-show-posts="false" data-tabs="messages"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/raiinfodotcom"><a href="https://www.facebook.com/raiinfodotcom">Raiinfomation</a></blockquote></div></div>
        <span id="closefbchat" style="white-space: nowrap;position:absolute;right:2px;bottom:299px;padding: 3px 15px;background: #44619D;color: #fff;cursor: pointer;">Tắt Chat</span>
    </div>
</body>
</html>
<script>
    $(function () {
        $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).fadeIn("fast");
                    $(this).toggleClass('open');
                    $('b', this).toggleClass("caret caret-up");
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).fadeOut("fast");
                    $(this).toggleClass('open');
                    $('b', this).toggleClass("caret caret-up");
                });
    });
    if (localStorage.getItem("fbchatclose") == 1) {
        jQuery('.fbchat').toggleClass('hide');
        jQuery('#closefbchat').html('<i class="fa fa-comments fa-2x"></i> Chat Tư Vấn').css({ 'bottom': 0 });
    }
    jQuery('#closefbchat').click(function () {
        jQuery('.fbchat').toggleClass('hide');
        if (jQuery('.fbchat').hasClass('hide')) {
            localStorage.setItem("fbchatclose", 1);
            jQuery('#closefbchat').html('<i class="fa fa-comments fa-2x"></i> Chat Tư Vấn').css({ 'bottom': 0 });
        }
        else {
            localStorage.setItem("fbchatclose", 0);
            jQuery('#closefbchat').text('Tắt Chat').css({ 'bottom': 299 });
        }
    });
</script>
