@using KoK_Source.Areas.Admin.Models.Config
@using KOKService
@{
    ConfigModel configModel = new ConfigModel();
    ConfigModel config = configModel.GetConfig();
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="content-language" content="vi" />
    <meta name="author" content="@Request.Url.GetLeftPart(UriPartial.Authority)">
    <meta name="description" content="@if (string.IsNullOrEmpty(ViewBag.NEWS_SEO_DESC)) { @Html.Raw(config.ConfigDecription); }else { @Html.Raw(ViewBag.NEWS_SEO_DESC);}">
    <meta name="keywords" content="@if (string.IsNullOrEmpty(ViewBag.NEWS_SEO_KEYWORD)) { @Html.Raw(config.ConfigKeyword); }else { @Html.Raw(ViewBag.NEWS_SEO_KEYWORD);}">
    <!--facebook-->
    <meta property="og:site_name" content="@Request.Url.GetLeftPart(UriPartial.Authority)" />
    <meta property="og:title" content="@if (string.IsNullOrEmpty(ViewBag.NEWS_TITLE)) { @Html.Raw(config.ConfigTitle); }else { @Html.Raw(ViewBag.NEWS_TITLE);}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="@Request.Url.ToString()" />
    <meta property="og:image" content="@if (!string.IsNullOrEmpty(ViewBag.IMAGE)) { @Html.Raw(Request.Url.GetLeftPart(UriPartial.Authority)+Url.Content(ViewBag.IMAGE))}" />
    <meta property="og:description" content="@ViewBag.NEWS_DESC" />
    <title>@config.ConfigTitle @if (!string.IsNullOrEmpty(ViewBag.NEWS_TITLE)) { @Html.Raw(" - " + ViewBag.NEWS_TITLE);}</title>

    <!-- HOVER -->
    <link href="@Url.Content("~/Content/_Template/css/demo-page.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/_Template/css/hover.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/_Template/css/set1.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/_Template/css/normalize.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/_Template/css/animate.css")" rel="stylesheet" />
<!-------jquery------->


<script src="@Url.Content("~/Content/_Template/js/jquery.min.js")"></script>


<script src="@Url.Content("~/Content/_Template/js/jquery-1.11.3.min.js")"></script>


<!-----scroll-mouse--->


<script src="@Url.Content("~/Content/_Template/js/scroll-m.js")"></script>


<!-- RESPONSIVE MENU -->


<link href="@Url.Content("~/Content/_Template/js/menu-responsive/jquery.mmenu.all.css")" rel="stylesheet" />


<script type="text/javascript" src="@Url.Content("~/Content/_Template/js/menu-responsive/jquery.mmenu.min.all.js")"></script>


<script type="text/javascript" src="@Url.Content("~/Content/_Template/js/menu-responsive/index-menu-rp.js")"></script>


<!----bootstrap------>


<link rel="stylesheet" href="@Url.Content("~/Content/_Template/css/bootstrap.css")" type="text/css" media="all" />


<script src="@Url.Content("~/Content/_Template/js/bootstrap.min.js")"></script>


<link href="@Url.Content("~/Content/_Template/fonts/roboto-light.css")" rel="stylesheet" />


<!---- animate ----->


<link rel="stylesheet" href="@Url.Content("~/Content/_Template/css/animate.css")" type="text/css" media="all" />


<script src="@Url.Content("~/Content/_Template/js/wow.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kok_source/plusone.js")"></script>
    
<script>
new WOW().init();
    </script>
    <!-- FONT AWESOME -->
    <link href="@Url.Content("~/Content/_Template/fonts/font-awesome.min.css")" rel="stylesheet" />
    
    <!-- style -->
    <link href="@Url.Content("~/Content/_Template/style.css")" rel="stylesheet" />
    <link rel="stylesheet" href="@Url.Content("~/Content/_Template/responsive.css")" type="text/css" />
    <script src="@Url.Content("~/Content/Plugin/Jquery/jquery-2.2.2.min.js")"></script>
    @*<script src="@Url.Content("~/Content/_Template/js/cloud-zoom.1.0.2.js")"></script>*@
    @*<script type="text/JavaScript" src="http://www.professorcloud.com/js/cloud-zoom.1.0.2.js"></script>*@
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.7";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    @*<div id="fb-root"></div>*@
</head>
<!---------/head--------------->
<body class="">


    <!---------header--------------->
    <header class="header">
        <div class="header_top container">
            <div class="header_top-logo"><a href="@Request.Url.GetLeftPart(UriPartial.Authority)"><img src="@config.CONFIG_KEYWORD_EN" alt="BÁNH TRÁNG" width="100%" /></a></div>
            <div class="header_top-banner"><img src="@config.CONFIG_DESCRIPTION_EN" alt="BANNER BÁNH TRÁNG" /></div>
        </div>
        <!--Menu-->
        @Html.Partial("~/Views/Shared/_menuPageTop.cshtml")

        <!---------menu responsive--------------->
        <div id="page" class="tr_mobile d_mneu_mobile">
            <div class="header1">
                <a href="#menu"></a>
            </div>
            <nav id="menu">
                @Html.Partial("~/Views/Shared/_menuPageTopmobile.cshtml")
            </nav>
        </div>
    </header>
    <div class="container" style="border:1px ridge;padding:4px;background-color:@config.ConfigField5">
        @RenderBody()
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 footerleft ">
                    <div class="logofooter"> @config.ConfigTitle</div>
                    <p>@config.ConfigDecription</p>
                    <p><i class="fa fa-map-pin"></i> @config.ConfigField3</p>
                    <p><i class="fa fa-phone"></i> Phone : @config.ConfigField2</p>
                    <p><i class="fa fa-envelope"></i> E-mail : <a style="color:white" href="mailto:'@config.ConfigField4'">@config.ConfigField4</a></p>

                </div>
                <div class="col-md-3 col-sm-6 paddingtop-bottom ft-left-tr-mb">
                    <h6 class="heading7">LIÊN KẾT</h6>
                    <ul class="footer-ul">
                        <li><a href="@config.ConfigField1"> FACEBOOK</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 paddingtop-bottom ft-left-tr-mb">
                    <div class="fb-page" data-href="@config.ConfigField1" @*data-tabs="timeline"*@ data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                        <div class="fb-xfbml-parse-ignore">
                            <blockquote cite="@config.ConfigField1"><a href="@config.ConfigField1">Facebook</a></blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!---------footer--------------->
        <div class="copyright">
            <div class="container">
                <div class="col-md-6">
                    <p>© 2016 - All Rights ...</p>
                </div>
                <!--
                    <div class="col-md-6">
                      <p>© 2016 - All Rights with Webenlance</p>
                    </div>
                -->
            </div>
        </div>
    </footer>
    <!--footer start from here-->
    <div class="fbchatbox hidden-xs" style="position:fixed;right:5px;bottom:0px;z-index:9999">
        <div class="fb-page fbchat" data-href="@config.ConfigField1" data-small-header="true" data-adapt-container-width="false" data-height="300" data-width="300" data-hide-cover="true" data-show-facepile="true" data-show-posts="false" data-tabs="messages"><div class="fb-xfbml-parse-ignore"><blockquote cite="@config.ConfigField1"><a href="@config.ConfigField1">Raiinfomation</a></blockquote></div></div>
        <span id="closefbchat" style="white-space: nowrap;position:absolute;right:2px;bottom:299px;padding: 3px 15px;background: #44619D;color: #fff;cursor: pointer;">Tắt Chat</span>
    </div>
    <div id="myModal" class="modal fade" role="dialog" style="z-index:9999!important">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Số điện thoại</h4>
                </div>
                <div class="modal-body">
                    <center>
                        <a href="tel:@config.ConfigField2"><button class="btn btn-info btn-lg">@config.ConfigField2</button></a>
                        @*<a href="tel:0938118661"><button class="btn btn-success btn-lg">0938.118.661</button></a>*@
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>

        </div>
    </div>
</body>
</html>
<script>
    $(function () {
        $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).fadeIn("fast");
                    $(this).toggleClass('open');
                    $('b', this).toggleClass("caret caret-up");
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).fadeOut("fast");
                    $(this).toggleClass('open');
                    $('b', this).toggleClass("caret caret-up");
                });
    });
    if (localStorage.getItem("fbchatclose") == 1) {
        jQuery('.fbchat').toggleClass('hide');
        jQuery('#closefbchat').html('<i class="fa fa-comments fa-2x"></i> Chat Tư Vấn').css({ 'bottom': 0 });
    }
    jQuery('#closefbchat').click(function () {
        jQuery('.fbchat').toggleClass('hide');
        if (jQuery('.fbchat').hasClass('hide')) {
            localStorage.setItem("fbchatclose", 1);
            jQuery('#closefbchat').html('<i class="fa fa-comments fa-2x"></i> Chat Tư Vấn').css({ 'bottom': 0 });
        }
        else {
            localStorage.setItem("fbchatclose", 0);
            jQuery('#closefbchat').text('Tắt Chat').css({ 'bottom': 299 });
        }
    });
</script>
