@using KOKService
@using KoK_Source.Common
@{ 
    KOK_DATAEntities _kokDataEntity = new KOK_DATAEntities();
    CommonCnv _com = new CommonCnv();
    var dt = _kokDataEntity.KOK_CATEGORIES.Where(m => m.ACTIVE == true).DefaultIfEmpty().ToList().OrderBy(x => x.CAT_ORDER);
}
<nav class="navbar navbar-inverse nav-mgb-0 tr_pc">
    <div class="container">
        <div class="collapse navbar-collapse nav-rela" id="navbar-collapse-3">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="@Request.Url.GetLeftPart(UriPartial.Authority)"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                <li><a href="@Request.Url.GetLeftPart(UriPartial.Authority)">TRANG CHỦ</a></li>
                <li><a href="@Url.Action("Index","Info")">Giới Thiệu</a></li>
                @foreach (var m1 in dt)
                {
                    @*@Url.Action("Index", Controller, new { id = m1.CAT_ID, pageIndex = 0 })*@
                string Controller = "danh-muc-bai-viet";
                if (m1.CAT_TYPE == 1)//Product
                {
                    //Controller = "Products";
                    Controller = "danh-muc-san-pham";
                }
                else
                {
                    //Controller = "Post";
                    Controller = "danh-muc-bai-viet";
                }
                if (m1.CAT_RANK == 1)
                {
                    <li class="@if (dt.Count(item => item.CAT_PARENT_ID == m1.CAT_ID && item.CAT_RANK == 2) > 0) { @Html.Raw("dropdown")}">
                        <a href="@Url.Action(_com.ToAscii(m1.CAT_NAME)+"-"+m1.CAT_ID+"-"+"0", Controller)">@m1.CAT_NAME @if (dt.Count(item => item.CAT_PARENT_ID == m1.CAT_ID && item.CAT_RANK == 2) > 0) { @Html.Raw("<b class='caret'></b>")}</a>
                        @if (dt.Count(item => item.CAT_PARENT_ID == m1.CAT_ID && item.CAT_RANK == 2) > 0)
                        {
                            <ul class="dropdown-menu">
                                @foreach (var m2 in dt)
                                {
                                    if (m2.CAT_TYPE == 1)//Product
                                    {
                                        //Controller = "Products";
                                        Controller = "danh-muc-san-pham";
                                    }
                                    else
                                    {
                                        //Controller = "Post";
                                        Controller = "danh-muc-bai-viet";
                                    }
                                    if (m2.CAT_RANK == 2 && m2.CAT_PARENT_ID == m1.CAT_ID)
                                    {
                                    <li>
                                        <a href="@Url.Action(_com.ToAscii(m2.CAT_NAME)+"-"+m2.CAT_ID+"-"+"0", Controller)">@m2.CAT_NAME</a>
                                         @if (dt.Count(item => item.CAT_PARENT_ID == m2.CAT_ID && item.CAT_RANK == 3) > 0)
                                         {
                                            <ul>
                                                @foreach (var m3 in dt)
                                                {
                                                    if (m3.CAT_TYPE == 1)//Product
                                                    {
                                                        //Controller = "Products";
                                                        Controller = "danh-muc-san-pham";
                                                    }
                                                    else
                                                    {
                                                        //Controller = "Post";
                                                        Controller = "danh-muc-bai-viet";
                                                    }
                                                    if (m3.CAT_RANK == 3 && m3.CAT_PARENT_ID == m2.CAT_ID)
                                                    {
                                                    <li>
                                                        <a href="@Url.Action(_com.ToAscii(m3.CAT_NAME)+"-"+m3.CAT_ID+"-"+"0", Controller)">@m3.CAT_NAME</a>
                                                    </li>
                                                    }
                                                }
                                            </ul>
                                         }
                                    </li>
                                    }
                                }
                            </ul>
                        }
                    </li>
                    }
                }
                
                <li><a href="@Url.Action("Index","Contact")">Liên Hệ</a></li>
            </ul>
            <form action="@Url.Action("Index","Search")" class="search-form">
                <div class="form-group has-feedback btn-search-abs">
                    <label for="search" class="sr-only">Tìm kiếm</label>
                    <input type="text" class="form-control" name="search" id="search" placeholder="Tìm kiếm . . .">
                    <button type="submit" class="glyphicon glyphicon-search form-control-feedback"></button>
                </div>
            </form>
        </div>

    </div>

</nav>

