
@using KoK_Source.Models
@using KOKService
@using KoK_Source.Common
@{
    KOK_DATAEntities _kokDataEntity = new KOK_DATAEntities();
    var dt = _kokDataEntity.KOK_PRODUCTS.Where(a => a.ACTIVE == false).OrderByDescending(a => a.NEWS_COUNT).Take(5).ToList();
}
<div class="title-news">
    <h3><a href="">Top sản phẩm</a></h3>
    <span><a href="@Url.Action("Index", "Products", new { id = string.Empty, pageIndex = 0})">Xem thêm</a></span>
</div>
<ul>
    @if (dt.Count > 0)
    {
        foreach (var item in dt)
        {
            //var url = "/bai-viet/" + item.NEWS_SEO_URL +"-"+item.NEWS_ID;
            <li>
                <a href="@Url.Action(item.NEWS_SEO_URL+"-"+item.NEWS_ID,"san-pham")">
                    <div class="tit-news"><b>@item.NEWS_TITLE</b></div>
                    @{
                        List<FileModel> fileAvatar;
                        if (!String.IsNullOrEmpty(item.ANH))
                        {
                            /*convert FILI_LINK là json thành list file name*/
                            fileAvatar = new System.Web.Script.Serialization.JavaScriptSerializer().Deserialize<List<FileModel>>(item.ANH);
                            if (fileAvatar != null)
                            {
                                <div class="img-news"><img class="hvr-grow" src="@Url.Content(fileAvatar.First().url)" alt="" /></div>
                            }
                        }
                        else
                        {
                            fileAvatar = null;
                            <div class="img-news"><img class="hvr-grow" src="Content/_Template/img/img.jpg" alt="" /></div>
                        }
                    }
                    <div class="tit-news">Giá: <i>@string.Format("{0:#0,0}", Convert.ToDecimal(item.GIA)) vnđ</i></div>
                </a>
            </li>
                            }
                        }
</ul>
