@model KoK_Source.Areas.Admin.Models.Products.ProductsModel
@using KoK_Source.Areas.Admin.Models.File;
@{
    ViewBag.Title = "Chi tiết sản phẩm";
    List<FileModel> fileNameList;

    if (!String.IsNullOrEmpty(Model.LIST_ANH))
    {
        /*convert FILI_LINK là json thành list file name*/
        fileNameList = new System.Web.Script.Serialization.JavaScriptSerializer().Deserialize<List<FileModel>>(Model.LIST_ANH);
    }
    else
    {
        fileNameList = null;
    }
    List<FileModel> fileAvatar;
    if (!String.IsNullOrEmpty(Model.ANH))
    {
        /*convert FILI_LINK là json thành list file name*/
        fileAvatar = new System.Web.Script.Serialization.JavaScriptSerializer().Deserialize<List<FileModel>>(Model.ANH);
    }
    else
    {
        fileAvatar = null;
    }
}
@using (Html.BeginForm("SaveData", "Products", FormMethod.Post, new { @id = "myFormEdit", @enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    <div class="form-group row">
        @Html.HiddenFor(m => m.NEWS_ID)
        <div class="col-md-10">
            <header class="widget__header">
                <div class="widget__title">
                    <i class="pe-7s-menu"></i>
                    <h3>@ViewBag.Title</h3>
                </div>
            </header>
            <article class="widget widget__form">
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">@Html.DisplayNameFor(m => m.NEWS_TITLE) </label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.NEWS_TITLE, Model.NEWS_TITLE, new { @class = "col-xs-12 col-sm-12", @placeholder = "Tiêu đề" })
                    </div>

                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">@Html.DisplayNameFor(m => m.NEWS_DESC) </label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.NEWS_DESC, Model.NEWS_DESC, new { @class = "col-xs-12 col-sm-12", @placeholder = "Mô tả" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">@Html.DisplayNameFor(m => m.ANH) </label>
                    @Html.HiddenFor(m => m.ANH)
                    <div class="col-sm-10">
                        <label class="ace-file-input">
                            <input type="file" id="file-att" name="file-att" onchange="readURL(this);">
                            <span class="ace-file-container" data-title="Choose">
                                <span class="ace-file-name" data-title="No File ..."><i class="ace-icon fa fa-upload"></i></span>
                            </span>
                            <a class="remove" href="#"><i class="ace-icon fa fa-times"></i></a>
                        </label>
                        @if (fileAvatar!=null)
                        {
                            foreach (var item in fileAvatar)
                            {
                            <div class="col-sm-3 picture_item">
                                <span class="profile-picture">
                                    <div class="editable-input editable-image">
                                        <span>
                                            <label class="ace-file-input ace-file-multiple" style="width: 150px;">
                                                <span class="ace-file-container hide-placeholder selected">
                                                    <span class="ace-file-name large" data-title="@item.name">
                                                        <img id="img-rev" width="100" height="100" src="@Url.Content(item.url)" alt="@item.name" />
                                                        <i class="ace-icon fa fa-picture-o file-image"></i>
                                                    </span>
                                                </span>
                                            </label>
                                        </span>
                                    </div>
                                </span>
                            </div>
                            }
                        }
                        else
                        {
                            <div class="col-sm-3 picture_item">
                                <span class="profile-picture">
                                    <div class="editable-input editable-image">
                                        <span>
                                            <label class="ace-file-input ace-file-multiple" style="width: 150px;">
                                                <span class="ace-file-container hide-placeholder selected">
                                                    <span class="ace-file-name large" data-title="avata">
                                                        <img id="img-rev" width="100" height="100" src="#" alt="" />
                                                        <i class="ace-icon fa fa-picture-o file-image"></i>
                                                    </span>
                                                </span>
                                            </label>
                                        </span>
                                    </div>
                                </span>
                            </div>
                        }
                    </div>
                </div>
                <!-- start Menu list-->
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right"></label>
                    <div class="widget-box col-md-10">
                        <div class="widget-header">
                            <h4 class="widget-title">Menu</h4>

                            <div class="widget-toolbar">
                                <a href="#" data-action="collapse">
                                    <i class="ace-icon fa fa-chevron-up"></i>
                                </a>

                                <a href="#" data-action="close">
                                    <i class="ace-icon fa fa-times"></i>
                                </a>
                            </div>
                        </div>

                        <div class="widget-body">
                            <div class="widget-main">
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <div class="dd" id="nestable">
                                            <ol class="dd-list">
                                                @if (Model.listMenu.Count > 0)
                                                {
                                                    foreach (var t in Model.listMenu)
                                                    {
                                                        if (t.MenuRank == "1")
                                                        {
                                                            <li class="dd-item" data-id="@t.Id">
                                                                <div class="dd-handle">
                                                                    <label>
                                                                        <input name="form-field-checkbox" type="checkbox" @if (Model.arrMenu != null) { if (Model.arrMenu.Any(m => m.url == t.Id)) { @Html.Raw("checked") } } value="@t.Id" class="ace">
                                                                        <span class="lbl">
                                                                            @t.MenuName
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                                @if (Model.listMenu.Count(item => item.MenuParentId == t.Id && item.MenuRank == "2") > 0)
                                                                {
                                                                    <ol class="dd-list">
                                                                        @foreach (var t1 in Model.listMenu)
                                                                        {
                                                                            if (t1.MenuRank == "2" && t1.MenuParentId == t.Id)
                                                                            {
                                                                                <li class="dd-item" data-id="@t1.Id">
                                                                                    <div class="dd-handle">
                                                                                        <label>
                                                                                            <input name="form-field-checkbox" type="checkbox" @if (Model.arrMenu != null) { if (Model.arrMenu.Any(m => m.url == t1.Id)) { @Html.Raw("checked") } } value="@t1.Id" class="ace">
                                                                                            <span class="lbl">
                                                                                                @t1.MenuName
                                                                                            </span>
                                                                                        </label>
                                                                                    </div>
                                                                                    @if (Model.listMenu.Count(item => item.MenuParentId == t1.Id && item.MenuRank == "3") > 0)
                                                                                    {
                                                                                        <ol class="dd-list">
                                                                                            @foreach (var t2 in Model.listMenu)
                                                                                            {
                                                                                                if (t2.MenuRank == "3" && t2.MenuParentId == t1.Id)
                                                                                                {
                                                                                                    <li class="dd-item" data-id="@t2.Id">
                                                                                                        <div class="dd-handle">
                                                                                                            <label>
                                                                                                                <input name="form-field-checkbox" type="checkbox" @if (Model.arrMenu != null) { if (Model.arrMenu.Any(m => m.url == t2.Id)) { @Html.Raw("checked") } } value="@t2.Id" class="ace">
                                                                                                                <span class="lbl">
                                                                                                                    @t2.MenuName
                                                                                                                </span>
                                                                                                            </label>
                                                                                                        </div>
                                                                                                    </li>
                                                                                                }
                                                                                            }
                                                                                        </ol>
                                                                                    }
                                                                                </li>
                                                                            }
                                                                        }
                                                                    </ol>
                                                                }
                                                            </li>
                                                        }
                                                    }
                                                }
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <!-- /section:plugins/input.autosize -->
                            </div>
                        </div>
                    </div>
                </div>
                <!--End menu list-->
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">@Html.DisplayNameFor(m => m.LIST_ANH) </label>
                    @Html.HiddenFor(m => m.LIST_ANH)
                    <div class="col-sm-10">
                            <input type="file" id="file-att-list" name="file-att-list" multiple accept='image/*'>
                        <div class="form-group">
                            @if (fileNameList != null)
                            {
                                foreach (var item in fileNameList)
                                {
                                    <div class="col-sm-3 picture_item">
                                        <span class="profile-picture">
                                            <div class="editable-input editable-image">
                                                <span>
                                                    <label class="ace-file-input ace-file-multiple" style="width: 150px;">
                                                        <span class="ace-file-container hide-placeholder selected">
                                                            <span class="ace-file-name large" data-title="@item.name">
                                                                <img width="100" height="100" src="@Url.Content(item.url)" alt="@item.name" />
                                                                <i class="ace-icon fa fa-picture-o file-image"></i>
                                                            </span>
                                                        </span>
                                                        <a class="remove"  onclick="deleteFile(this,'@item.name','@Model.NEWS_ID')">
                                                            <i class="ace-icon fa fa-times"></i>
                                                        </a>
                                                    </label>
                                                </span>
                                            </div>
                                        </span>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">@Html.DisplayNameFor(m => m.THANH_PHAN) </label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.THANH_PHAN, Model.THANH_PHAN, new { @class = "col-xs-12 col-sm-12" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">@Html.DisplayNameFor(m => m.GIA) </label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.GIA, Model.GIA.ToString(), new { @class = "col-xs-12 col-sm-12" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">@Html.DisplayNameFor(m => m.BAO_QUAN) </label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.BAO_QUAN, Model.BAO_QUAN, new { @class = "col-xs-12 col-sm-12" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">@Html.DisplayNameFor(m => m.ACTIVE) </label>
                    <div class="col-sm-10">
                        @Html.CheckBoxFor(m => m.ACTIVE, new { @class = "checkbox-inline" })
                    </div>
                </div>
                <hr />
                <header class="widget__header">
                    <div class="widget__title">
                        <i class="pe-7s-menu"></i>
                        <h3>Từ khóa SEO</h3>
                    </div>
                </header>

                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">@Html.DisplayNameFor(m => m.NEWS_SEO_URL) </label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.NEWS_SEO_URL, Model.NEWS_SEO_URL, new { @class = "col-xs-12 col-sm-12" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">@Html.DisplayNameFor(m => m.NEWS_SEO_TITLE) </label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.NEWS_SEO_TITLE, Model.NEWS_SEO_TITLE, new { @class = "col-xs-12 col-sm-12" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">@Html.DisplayNameFor(m => m.NEWS_SEO_DESC) </label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.NEWS_SEO_DESC, Model.NEWS_SEO_DESC, new { @class = "col-xs-12 col-sm-12" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">@Html.DisplayNameFor(m => m.NEWS_SEO_KEYWORD) </label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.NEWS_SEO_KEYWORD, Model.NEWS_SEO_KEYWORD, new { @class = "col-xs-12 col-sm-12" })
                    </div>
                </div>
                <div class="form-group">
                    @*<textarea name="post_dt" id="post_dt">@Model.POST_HTML</textarea>*@
                    @Html.TextAreaFor(m => m.POST_HTML, Model.POST_HTML)
                </div>

                <div class="btn-group pull-right">
                    <button class="btn btn-sm btn-purple">
                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                        Save
                    </button>

                </div>
            </article>
        </div>
    </div>
}
<input id="UrlAjaxDeleteFile" type="hidden" data-request-url="@Url.Action("DeleteFile","Products")" />
<script>
    // Replace the <textarea id="editor1"> with a CKEditor
    // instance, using default configuration.
    CKEDITOR.replace('POST_HTML', {
        language: 'vi',
        height: 500,
    });
    //change text URL
    var timerid;
    $("#NEWS_TITLE").on("input", function (e) {
        var value = $(this).val();
        if ($(this).data("lastval") != value) {
            $(this).data("lastval", value);
            clearTimeout(timerid);
            timerid = setTimeout(function () {
                //var str = remove_unicode(value);
                //change action
                $('#NEWS_URL').val(remove_unicode(value));
                $('#NEWS_SEO_TITLE').val(remove_unicode(value));
                $('#NEWS_SEO_URL').val(remove_unicode(value));
                //alert(value);

            }, 500);

        };
    });
    $("#NEWS_DESC").on("input", function (e) {
        var value = $(this).val();
        if ($(this).data("lastval") != value) {
            $(this).data("lastval", value);
            clearTimeout(timerid);
            timerid = setTimeout(function () {
                //var str = remove_unicode(value);
                //change action
                $('#NEWS_SEO_DESC').val(remove_unicode(value));
                //alert(value);

            }, 500);

        };
    });
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#img-rev')
                  .attr('src', e.target.result)
                  .width(100)
                  .height(100).show();
            };
            $('.ace-file-name').attr('data-title', input.files[0].name);
            reader.readAsDataURL(input.files[0]);
        }
    }
    function deleteFile(thisme, fileName, id) {
        $.ajax({
            url: $('#UrlAjaxDeleteFile').data('request-url'),
            type: 'POST',
            dataType: 'json',
            data: { fileName: fileName, id: id },
            success: function (data){ 
                $(thisme).closest('.picture_item').remove();
            },
        });
    }
</script>