@model List<KoK_Source.Models.Menu.MenuModels>
@using KoK_Source.Models.Menu
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    if ('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
</script>
<script src="~/assets/js/jquery-2.1.4.min.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>
<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/assets/js/jquery.dataTables.bootstrap.min.js"></script>
<script src="~/assets/js/dataTables.buttons.min.js"></script>
<script src="~/assets/js/buttons.flash.min.js"></script>
<script src="~/assets/js/buttons.html5.min.js"></script>
<script src="~/assets/js/buttons.print.min.js"></script>
<script src="~/assets/js/buttons.colVis.min.js"></script>
<script src="~/assets/js/dataTables.select.min.js"></script>
!-- ace scripts -->
<script src="~/assets/js/ace-elements.min.js"></script>
<script src="~/assets/js/ace.min.js"></script>

@using (Html.BeginForm("Index", "Menu", FormMethod.Post, new { id = "myMenu" }))
{
    <div class="row">
        <div class="col-md-12">
            <h3 class="header smaller lighter blue">jQuery dataTables</h3>

            <div class="clearfix">
                <div class="pull-right tableTools-container"></div>
            </div>
            <div class="table-header">
                Results for "Latest Registered Domains"
            </div>

            <div>
                <table id="dynamic_table" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>@Html.LabelFor(m => m.First().Id)</th>
                            <th>@Html.LabelFor(m => m.First().MenuName)</th>
                            <th>@Html.LabelFor(m => m.First().MenuLink)</th>
                            <th>@Html.LabelFor(m => m.First().MenuRank)</th>
                            <th>@Html.LabelFor(m => m.First().MenuParentId)</th>
                            <th>@Html.LabelFor(m => m.First().Active)</th>
                            <th></th>
                        </tr>
                        <tr class="re-search">
                            <td>@Html.LabelFor(m => m.First().Id)</td>
                            <td>@Html.LabelFor(m => m.First().MenuName)</td>
                            <td>@Html.LabelFor(m => m.First().MenuLink)</td>
                            <td>@Html.LabelFor(m => m.First().MenuRank)</td>
                            <td>@Html.LabelFor(m => m.First().MenuParentId)</td>
                            <td>@Html.LabelFor(m => m.First().Active)</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <div class="media">
                                        @item.Id
                                    </div>
                                </td>
                                <td>
                                    <p class="post__info">@item.MenuName</p>
                                </td>
                                <td>
                                    <p class="post__info">@item.MenuLink</p>
                                </td>
                                <td>
                                    <p class="post__info">@item.MenuRank</p>
                                </td>
                                <td>
                                    <p class="post__info">@item.MenuParentId</p>
                                </td>
                                <td>
                                    @if (item.Active == true)
                                    {
                                        <input type="checkbox" class="custom-checkbox" id="cc2" onclick="return false" />
                                        <label for="cc2"></label>
                                    }
                                    else
                                    {
                                        <input type="checkbox" class="custom-checkbox" id="cc0" checked onclick="return false" />
                                        <label for="cc0"></label>
                                    }

                                </td>
                                <td>
                                    <div class="hidden-sm hidden-xs action-buttons">
                                        <a class="blue" href="#">
                                            <i class="ace-icon fa fa-search-plus bigger-130"></i>
                                        </a>

                                        <a class="green" href="@Url.Action("edit","Menu",new {id=item.Id})">
                                            <i class="ace-icon fa fa-pencil bigger-130"></i>
                                        </a>

                                        <a class="red" href="#">
                                            <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                        </a>
                                    </div>

                                    <div class="hidden-md hidden-lg">
                                        <div class="inline pos-rel">
                                            <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                            </button>

                                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                <li>
                                                    <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
                                                        <span class="blue">
                                                            <i class="ace-icon fa fa-search-plus bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="@Url.Action("edit","Menu",new {id=item.Id})" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                        <span class="green">
                                                            <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
                                                        <span class="red">
                                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
            <div class="btn-group">
                @Html.ActionLink("THÊM MỚI", "Create", null, new { @class = "btn blue inverse glyphicon glyphicon-plus", @id = "btnAdd" })
            </div>
        </div>
    </div>
    <!-- /row -->
}
<script type="text/javascript">
    jQuery(function ($) {
        //initiate dataTables plugin
        var table = $('#dynamic_table').DataTable({
            columnDefs: [
                { targets: [0, 1, 2, 3, 4, 5, 6], className: "sorting_disabled", bSearchable: true } // thêm class không sort cho column 1 2 3 4 5 6
            ],
            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]], //Page length options

        });

        // Setup - add a text input to each footer cell
        $('#dynamic_table .re-search td').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Search ' + title + '" />');
        });
        // Apply the search
        table.columns().every(function () {
            var that = this;
            $('input', this.header()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();

                }
            });
        });
    })
</script>