@model List<KoK_Source.Models.Banner.BannerModel>
@using KoK_Source.Models.Banner
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Index", "Banner", FormMethod.Post, new { id = "myBanner" }))
{
    <div class="row">
        <div class="col-xs-12">
            <h3 class="header smaller lighter blue">jQuery dataTables</h3>

            <div class="clearfix">
                <div class="pull-right tableTools-container"></div>
            </div>
            <div class="table-header">
                Results for "Latest Registered Domains"
            </div>

            <!-- div.table-responsive -->
            <!-- div.dataTables_borderWrap -->
            <div class="btn-group">
                @Html.ActionLink("THÊM MỚI", "Edit", null, new { @class = "btn violet inverse glyphicon glyphicon-plus", @id = "btnAdd" })
                @*<button id="btnAdd" hr="@Url.Action("Edit")" class="btn violet inverse glyphicon glyphicon-plus"> THÊM MỚI</button>*@
            </div>
            <div>
                <table id="dynamic_table" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>@Html.LabelFor(m => m.First().BANNER_ID)</th>
                            <th>@Html.LabelFor(m => m.First().CREATE_USER)</th>
                            <th>@Html.LabelFor(m => m.First().BANNER_DESC)</th>
                            <th>@Html.LabelFor(m => m.First().ACTIVE)</th>
                            <th width="5%">Del</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <div class="media">
                                        <figure class="pull-left post__img">
                                            <a href="@Url.Action("Edit", "Banner", new BannerModel {BANNER_ID = item.BANNER_ID})">
                                                @if (!string.IsNullOrEmpty(item.BANNER_FILE))
                                                {
                                                    <img class="media-object" style="width: 50px; height: 50px" src="@Url.Content(item.BANNER_FILE)">
                                                }
                                                else
                                                {
                                                    <img class="media-object" style="width: 50px;height: 50px" src="@item.BANNER_FILE">
                                                }
                                            </a>
                                        </figure>
                                        <div class="media-body post_desc">
                                            <h3>@item.BANNER_NAME</h3>
                                            <p>@item.BANNER_DESC</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p class="post__date">@item.CREATE_USER<br>@item.CREATE_USER</p>
                                </td>
                                <td>
                                    <p class="post__info">@item.BANNER_DESC</p>
                                </td>
                                <td>
                                    @if (item.ACTIVE == true)
                                    {
                                        <input type="checkbox" id="@item.BANNER_ID" class="sw" onchange="AjaxUpdateActive(this)" checked />
                                    }
                                    else
                                    {
                                        <input type="checkbox" id="@item.BANNER_ID" class="sw" onchange="AjaxUpdateActive(this)" />
                                    }
                                    <label class="switch blue" for="@item.BANNER_ID"></label>
                                </td>
                                <td>
                                    <a href="#" onclick="AjaxRemoveBanner(this,@item.BANNER_ID)" class="post__del"><i class="pe-7f-close"></i>#</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
<input id="UrlAjaxUpdateActive" type="hidden" data-request-url="@Url.Action("AjaxUpdateActive","Banner")">
<input id="UrlAjaxDeleteBanner" type="hidden" data-request-url="@Url.Action("AjaxDeleteBanner","Banner")" />

<script type="text/javascript" src="@Url.Content("~/Scripts/kok_source/BannerInfo.js")"></script>
@*<script>
        var oTable = $('#tbl_Banner').dataTables();
    </script>*@
@*<script type="text/javascript">
    if ('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
</script>
<script src="~/assets/js/jquery-2.1.4.min.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>
<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/assets/js/jquery.dataTables.bootstrap.min.js"></script>
<script src="~/assets/js/dataTables.buttons.min.js"></script>
<script src="~/assets/js/buttons.flash.min.js"></script>
<script src="~/assets/js/buttons.html5.min.js"></script>
<script src="~/assets/js/buttons.print.min.js"></script>
<script src="~/assets/js/buttons.colVis.min.js"></script>
<script src="~/assets/js/dataTables.select.min.js"></script>
!-- ace scripts -->
<script src="~/assets/js/ace-elements.min.js"></script>
<script src="~/assets/js/ace.min.js"></script>*@

<script type="text/javascript">
    jQuery(function ($) {
        //initiate dataTables plugin
        $('#dynamic_table').DataTable();
    })
</script>