@model KoK_Source.Models.ProductsModel
@using KoK_Source.Models
<!---------brc--------------->
<div class="container">
    <div class="brc">
        <ul class="breadcrumb">
            <li><a href="#">Trang Chủ</a> <span class="divider"></span></li>
            <li><a href="#">Sản phẩm</a> <span class="divider"></span></li>
            <li class="active">Bánh 1</li>
        </ul>
    </div>
    <section class="contents">
        <div class="contents_left">
            @*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>*@
            <script src="@Url.Content("~/Content/_Template/js/jquery.min.js")"></script>
            @*<script src="@Url.Content("~/Content/_Template/js/jquery-2.1.1.js")"></script>
            <script src="~/Content/_Template/js/jquery.js"></script>*@
            @*<script type="text/JavaScript" src="http://www.professorcloud.com/js/cloud-zoom.1.0.2.js"></script>*@
            <script src="@Url.Content("~/Content/_Template/js/cloud-zoom.1.0.2.js")"></script>
            <div class="test-wrapper col-md-6">
                <div class="main-pick">
                    @{
                        List<FileModel> fileAvatar;
                        if (!String.IsNullOrEmpty(Model.LIST_ANH))
                        {
                            /*convert FILI_LINK là json thành list file name*/
                            fileAvatar = new System.Web.Script.Serialization.JavaScriptSerializer().Deserialize<List<FileModel>>(Model.LIST_ANH);
                            if (fileAvatar != null)
                            {
                                <a href='@Url.Content(fileAvatar.First().url)' class='cloud-zoom' id='zoom1'>
                                    <img width="320" height="229" src="@Url.Content(fileAvatar.First().url)" alt='@Url.Content(fileAvatar.First().name)' />
                                </a>
                            }
                        }
                        else
                        {
                            fileAvatar = null;
                            <a href='@Url.Content("~/Content/_Template/img/img.jpg")' class='cloud-zoom' id='zoom1'>
                                <img width="320" height="229" src="@Url.Content("~/Content/_Template/img/img.jpg")" alt='' />
                            </a>
                        }
                    }
                </div>
                <div class="block-img">
                    @{
                        if (!String.IsNullOrEmpty(Model.LIST_ANH))
                        {
                            /*convert FILI_LINK là json thành list file name*/
                            fileAvatar = new System.Web.Script.Serialization.JavaScriptSerializer().Deserialize<List<FileModel>>(Model.LIST_ANH);
                            if (fileAvatar != null)
                            {
                                foreach (var item_img in fileAvatar)
                                {
                                    <a href='@Url.Content(item_img.url)' class='cloud-zoom-gallery' title='@Url.Content(item_img.name)' rel="useZoom: 'zoom1', smallImage: '@Url.Content(item_img.url)' ">
                                        <img src="@Url.Content(item_img.url)" width="80" height="80" alt="@Url.Content(item_img.name)" />
                                    </a>
                                }

                            }
                        }
                        else
                        {
                            fileAvatar = null;
                            <a href='@Url.Content("~/Content/_Template/img/img.jpg")' class='cloud-zoom-gallery' title='Thumbnail 1' rel="useZoom: 'zoom1', smallImage: '@Url.Content("~/Content/_Template/img/img.jpg")' ">
                                <img src="@Url.Content("~/Content/_Template/img/img.jpg")" width="80" height="80" alt="Thumbnail 123123" />
                            </a>
                        }
                    }
                </div>
            </div>
            <div class="col-md-6">
                <div class="product-title">@Model.NEWS_TITLE</div>
                <div class="product-desc">@Model.NEWS_DESC</div>
                <div class="product-rating"><i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star-o"></i> </div>
                <hr>
                <div class="product-price">$Giá: @Model.GIA VNĐ</div>
                <!--					<div class="product-stock">In Stock</div>-->
                <hr>
                <div class="btn-group cart">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
                        Đặt mua ngay
                    </button>
                </div>

                
                <div class="btn-group wishlist">
                    <div class="fb-like" data-href="@Request.Url.ToString()" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                </div>
                
            </div>
            
            <div class="product-details-1">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">Chi tiết sản phẩm</a></li>
                    <li><a data-toggle="tab" href="#menu1">Giới thiệu</a></li>
                    @*<li><a data-toggle="tab" href="#menu2">Hình ảnh</a></li>*@
                </ul>

                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <p><b>$Giá:</b> @Model.GIA VNĐ</p>
                        <p><b>Thành phần:</b> @Model.THANH_PHAN</p>
                        <p><b>Bảo quản:</b> @Model.BAO_QUAN</p>
                        @Html.Raw(Model.POST_HTML)
                    </div>
                    <div id="menu1" class="tab-pane fade">
                        @Html.Raw(Model.POST_HTML)
                    </div>
                    @*<div id="menu2" class="tab-pane fade">
                        Đang cập nhật
                    </div>*@
                </div>
            </div>
        </div>
        <div class="contents_right">
            @Html.Partial("_sidebarProducts", Model.ListProductsSidebar)            
        </div>
        <div class="contents_lefts contents_lefts-splq">
            <div class="title-news">
                <h3><a href="">Bình luận</a></h3>
                <!--                    <span><a href="">Xem thêm</a></span>-->
            </div>
            <br>
            <div class="fb-comments" data-width="100%" data-href="https://www.facebook.com/hohuynhlam" data-numposts="5"></div>
        </div>
        <div class="contents_lefts contents_lefts-splq">
            @Html.Partial("_relateProducts", Model.ListProductsRelate)   
        </div>
    </section>
    <!-- Modal -->
    <div id="myModal" class="modal fade" style="z-index:9999!important" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Số điện thoại</h4>
                </div>
                <div class="modal-body">
                    <center>
                        <a href="tel:0938118661"><button class="btn btn-info btn-lg">0938.118.661</button></a>
                        <a href="tel:0938118661"><button class="btn btn-success btn-lg">0938.118.661</button></a>
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>

        </div>
    </div>
</div>	