@model List<KoK_Source.Models.ProductsModel>
@using KoK_Source.Common
@using KoK_Source.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    CommonCnv _com = new CommonCnv();
    PagedList page = ViewBag.Page;
    List<ProductsModel> postRight = ViewBag.PostRight;
}

<div class="container">
    <div class="brc">
        <ul class="breadcrumb">
            <li><a href="#">Trang Chủ</a> <span class="divider"></span></li>
            <li class="active">Sản phẩm </li>
        </ul>
    </div>
    <section class="contents">
        <div class="contents_left">
            <div class="list-group">
                @foreach (var item in Model)
                {
                    <a href="@Url.Action("DetailPost","Post", new { id_menu = string.Empty, id_post = item.NEWS_ID})" class="list-group-item">
                        <div class="media col-md-3">
                            <figure class="pull-left">
                                @if (!string.IsNullOrEmpty(item.ANH))
                                {
                                    List<FileModel> fileAvatar = new System.Web.Script.Serialization.JavaScriptSerializer().Deserialize<List<FileModel>>(item.ANH);
                                    if (fileAvatar != null)
                                    {
                                        <img class="media-object img-rounded img-responsive" src="@Url.Content(fileAvatar.First().url)" alt="@fileAvatar.First().name">
                                    }
                                }

                            </figure>
                        </div>
                        <div class="col-md-9">
                            <h4 class="list-group-item-heading"> @item.NEWS_TITLE </h4>
                            <p class="list-group-item-text">
                                @_com.getMota(item.NEWS_DESC, 200).ToString()
                            </p><br>
                            <button type="button" class="btn btn-danger btn-seemore btn-block"> Xem thêm </button>
                        </div>
                    </a>
                }


                <center class="page-nation">
                    <ul class="pagination pagination-large">
                        <li class="disabled"><span><<</span></li>
                        @for (int i = 0; i < page.numberPage; i++)
                        {
                            <li class="@if (page.currentPage == i) { Html.Raw("active"); } "><a href="@Url.Action("Index","Products",new { id = ViewBag.MenuId, pageIndex = i})">@(i + 1)</a></li>
                        }
                        <li class="disabled"><span>>></span></li>
                        @*<li><a rel="next" href="#">Next</a></li>*@

                    </ul>
                </center>
            </div>
        </div>
        <div class="contents_right">
            @Html.Partial("_sidebarProducts", postRight)
        </div>

    </section>

</div>
