@model IEnumerable<KOKService.MENU>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    if ('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
</script>
<script src="~/assets/js/jquery-2.1.4.min.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>
<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/assets/js/jquery.dataTables.bootstrap.min.js"></script>
<script src="~/assets/js/dataTables.buttons.min.js"></script>
<script src="~/assets/js/buttons.flash.min.js"></script>
<script src="~/assets/js/buttons.html5.min.js"></script>
<script src="~/assets/js/buttons.print.min.js"></script>
<script src="~/assets/js/buttons.colVis.min.js"></script>
<script src="~/assets/js/dataTables.select.min.js"></script>
!-- ace scripts -->
<script src="~/assets/js/ace-elements.min.js"></script>
<script src="~/assets/js/ace.min.js"></script>

@using (Html.BeginForm("Index", "Menu", FormMethod.Post, new { id = "myMenu" }))
{
    <div class="row">
        <div class="col-md-12">


            <h3 class="header smaller lighter blue">jQuery dataTables</h3>

            <div class="clearfix">
                <div class="pull-right tableTools-container"></div>
            </div>
            <div class="table-header">
                Results for "Latest Registered Domains"
            </div>

            <div>
                <table id="dynamic_table" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.MENU_NAME)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MENU_LINK)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MENU_RANK)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MENU_PARENT_ID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MENU_ACTIVE)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MENU_ORDER)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ACTIVE)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CREATE_DATE)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UPDATE_DATE)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CREATE_USER)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UPDATE_USER)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MENU_NAME)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MENU_LINK)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MENU_RANK)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MENU_PARENT_ID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MENU_ACTIVE)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MENU_ORDER)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ACTIVE)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CREATE_DATE)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UPDATE_DATE)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CREATE_USER)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UPDATE_USER)
                                </td>
                                <td>
                                    <div class="hidden-sm hidden-xs action-buttons">
                                        <a class="blue" href="@Url.Action("Details", "MENUs", new { id = item.ID })">
                                            <i class="ace-icon fa fa-search-plus bigger-130"></i>
                                        </a>

                                        <a class="green" href="@Url.Action("Edit", "MENUs", new { id = item.ID })">
                                            <i class="ace-icon fa fa-pencil bigger-130"></i>
                                        </a>

                                        <a class="red" href="@Url.Action("Delete", "MENUs", new { id = item.ID })">
                                            <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                        </a>
                                    </div>

                                    <div class="hidden-md hidden-lg">
                                        <div class="inline pos-rel">
                                            <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                            </button>

                                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                <li>
                                                    <a href="@Url.Action("Details", "MENUs", new { id = item.ID })" class="tooltip-info" data-rel="tooltip" title="View">
                                                        <span class="blue">
                                                            <i class="ace-icon fa fa-search-plus bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="@Url.Action("Edit", "MENUs", new { id = item.ID })" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                        <span class="green">
                                                            <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="@Url.Action("Delete", "MENUs", new { id = item.ID })" class="tooltip-error" data-rel="tooltip" title="Delete"><span class="red">
                                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="btn-group">
                @Html.ActionLink("THÊM MỚI", "Create", null, new { @class = "btn blue inverse glyphicon glyphicon-plus", @id = "btnAdd" })
            </div>
        </div>
    </div>
    <!-- /row -->
}
<script type="text/javascript">
    jQuery(function ($) {
        //initiate dataTables plugin
        $('#dynamic_table').DataTable({

        });
    })
</script>
